.addToCart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 2.5rem;
  margin: 1rem 0;
  border-radius: 0.3rem;
  font-weight: 600;
  color: white;
  background-color: #5c4b43;

  .cartButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.6rem;
    height: 1.6rem;
    border: none;
    font-size: 1rem;
    color: white;
    background-color: transparent;
    cursor: pointer;
  }

  .cartButton:hover {
    border-radius: 50%;
    background-color: black;
  }

  .cartButton:disabled {
    background-color: transparent;
    cursor: not-allowed;
  }

  .cartBadge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    font-size: 0.8rem;
    color: black;
    background-color: #bdab97;
    margin-left: 0.5rem;
  }
}
