.lineItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  .lineItemText {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .quantity {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 3rem;

    .quantityBadge {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.66rem;
      height: 1.66rem;
      border-radius: 50%;
      color: white;
      background-color: #5c4b43;
    }
  }

  .removeLineItem {
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
  }

  .removeLineItem:hover {
    border-radius: 50%;
    background-color: #5c4b43;
    cursor: pointer;
  }
}
